{
  "accounts": [
    {
      "auth_service": "google",
      "username": "Username",
      "password": "Password",
      "location": "Anywhere, USA",
      "GMAPS_API_KEY": "0000000000-00000000000000000000",
      "BEHAVIOR": {
        "USE_GOOGLE": false,
        "STEP_SIZE": 5,
        "EXTRA_WAIT" : 0.8,
        "SLEEP_MULT" : 2.0,
      },
      "CAPTURE": {
        "CATCH_POKEMON": true,
        "MIN_FAILED_ATTEMPTS_BEFORE_USING_BERRY": 3,
        "MAX_CATCH_ATTEMPTS": 10,
        "USE_POKEBALL_IF_PERCENT": 70,
        "USE_GREATBALL_IF_PERCENT": 25,
        "USE_ULTRABALL_IF_PERCENT": 5,
        "USE_MASTERBALL": false
      },
      "EGG_INCUBATION": {
        "ENABLE": true,
        "USE_DISPOSABLE_INCUBATORS": false,
        "BIG_EGGS_FIRST": true
      },
      "POKEMON_EVOLUTION": {
        "PIDGEY":12,
        "WEEDLE":12,
        "CATERPIE":12,
        "RATTATA":25,
        "DROWZEE":50,
        "EKANS":50,
        "POLIWAG":25,
        "GASTLY":25,
        "SPEAROW":50,
        "ODDISH":25,
        "SHELLDER":50,
        "EEVEE":25,
        "ZUBAT":50,
        "CLEFAIRY":50,
        "ODDISH":25,
        "PARAS":50,
        "VENONAT":50,
        "DIGLETT":50,
        "MEOWTH":50,
        "PSYDUCK":50,
        "MANKEY":50,
        "GROWLITHE":50,
        "MACHOP":25,
        "BELLSPROUT":50,
        "TENTACOOL":50,
        "GEODUDE":25,
        "PONYTA":50,
        "KRABBY":50
      },
      "POKEMON_CLEANUP": {
        "MIN_SIMILAR_POKEMON": 1,
        "MAX_SIMILAR_POKEMON": 999,
        "KEEP_POKEMON_NAMES": ["MEWTWO"],
        "THROW_POKEMON_NAMES": ["PIDGEY"],
        "RELEASE_METHOD": "CLASSIC",
        "RELEASE_METHOD_CLASSIC": {
          "KEEP_CP_OVER": 2000,
          "KEEP_IV_OVER": 85
        },
        "SCORE_METHOD": "IV",
        "SCORE_METHOD_FANCY": {
          "WEIGHT_IV": 0.5,
          "WEIGHT_LVL": 0.5
        }
      },
      "MIN_ITEMS": {
        "ITEM_POTION": 0,
        "ITEM_SUPER_POTION": 0,
        "ITEM_HYPER_POTION": 0,
        "ITEM_MAX_POTION": 50,
        "ITEM_POKE_BALL": 100,
        "ITEM_GREAT_BALL": 50,
        "ITEM_ULTRA_BALL": 50,
        "ITEM_RAZZ_BERRY": 50,
        "ITEM_REVIVE": 0,
        "ITEM_MAX_REVIVE": 50
      }
    },
    {
      "auth_service": "ptc",
      "username": "someusername",
      "password": "password",
      "location": "University of Southern California, Los Angeles, CA",
      "BEHAVIOR": {
        "USE_GOOGLE": false
      }
    }
  ],
  "defaults": {
      "_info": "copy values to this section to use them for all accounts",
      "_info2": "account settings will always override defaults"
  }
}
