{
  "accounts": [
    {
      "auth_service": "google",
      "username": "@gmail.com",
      "password": "",
      "location": "32.714627, -117.162521",
      "GMAPS_API_KEY": "some api key here",
      "BEHAVIOR": {
        "USE_GOOGLE": false,
        "STEP_SIZE": 150,
        "WANDER_STEPS": 20,
        "EXPERIMENTAL": true,
        "SKIP_VISITED_FORT_DURATION": 300,
        "SPIN_ALL_FORTS": true,
        "STAY_WITHIN_PROXIMITY": 725,
        "AUTO_USE_LUCKY_EGG": false,
        "EXTRA_WAIT" : 0.0,
        "SLEEP_MULT" : 0.0,
        "USE_CACHED_FORTS" : true,
        "CACHED_FORTS_SORTED" : false
      },
      "CAPTURE": {
        "CATCH_POKEMON": true,
        "MIN_FAILED_ATTEMPTS_BEFORE_USING_BERRY": 1,
        "MAX_CATCH_ATTEMPTS": 10
      },
      "EGG_INCUBATION": {
        "ENABLE": true,
        "USE_DISPOSABLE_INCUBATORS": true,
        "BIG_EGGS_FIRST": true
      },
      "POKEMON_EVOLUTION": {
        "PIDGEY": 12,
        "WEEDLE": 12,
        "CATERPIE": 12,
        "RATTATA": 25,
        "ABRA": 25,
        "GEODUDE": 25,
        "EKANS": 50,
        "PIKACHU": 50,
        "SANDSHREW": 50,
        "CLEFAIRY": 50,
        "VULPIX": 50,
        "JIGGLYPUFF": 50,
        "ZUBAT": 50,
        "PARAS": 50,
        "VENONAT": 50,
        "DIGLETT": 50,
        "MEOWTH": 50,
        "PSYDUCK": 50,
        "MANKEY": 50,
        "GROWLITHE": 50,
        "TENTACOOL": 50,
        "PONYTA": 50,
        "SLOWPOKE": 50,
        "MAGNEMITE": 50,
        "DODUO": 50,
        "SEEL": 50,
        "GRIMER": 50,
        "SHELLDER": 50,
        "DROWZEE": 50,
        "KRABBY": 50,
        "VOLTORB": 50,
        "EXEGGCUTE": 50,
        "CUBONE": 50,
        "KOFFING": 50,
        "RHYHORN": 50,
        "HORSEA": 50,
        "GOLDEEN": 50,
        "STARYU": 50,
        "OMANYTE": 50,
        "KABUTO": 50
      },
      "POKEMON_CLEANUP": {
        "MIN_SIMILAR_POKEMON": 1,
        "MAX_SIMILAR_POKEMON": 999,
        "KEEP_POKEMON_NAMES": ["MEWTWO","SNORLAX","LAPRAS","DRAGONITE","VAPOREON","SLOWBRO","GOLEM","MUK","EXEGGUTOR","CHARIZARD","VENUSAUR","BLASTOISE"],
        "THROW_POKEMON_NAMES": ["RATTATA"],
        "RELEASE_METHOD": "CLASSIC",
        "RELEASE_METHOD_CLASSIC": {
          "KEEP_CP_OVER": 1000,
          "KEEP_IV_OVER": 95,
          "KEEP_IV_ONLY_WITH_PERCENT_CP": 0,
          "MAX_POKEMON_HIGH_IV": 999
        },
        "RELEASE_METHOD_DUPLICATES": {
          "RELEASE_DUPLICATES_MAX_SCORE": 1000,
          "RELEASE_DUPLICATES_SCALAR": 0.9
        },
        "SCORE_METHOD": "CP",
        "SCORE_METHOD_FANCY": {
          "WEIGHT_IV": 0.5,
          "WEIGHT_LVL": 0.5
        }
      },
      "MIN_ITEMS": {
        "ITEM_POKE_BALL": 30,
        "ITEM_GREAT_BALL": 100,
        "ITEM_ULTRA_BALL": 300,
        "ITEM_POTION": 1,
        "ITEM_SUPER_POTION": 1,
        "ITEM_HYPER_POTION": 1,
        "ITEM_MAX_POTION": 300,
        "ITEM_BLUK_BERRY": 10,
        "ITEM_NANAB_BERRY": 10,
        "ITEM_REVIVE": 1,
        "ITEM_MAX_REVIVE": 50,
        "ITEM_RAZZ_BERRY": 100
      },
      "NEEDY_ITEM_FARMING": {
        "ENABLE": false,
        "POKEBALL_CONTINUE_THRESHOLD": 50,
        "POKEBALL_FARM_THRESHOLD": 10,
        "FARM_IGNORE_POKEBALL_COUNT": false,
        "FARM_IGNORE_GREATBALL_COUNT": false,
        "FARM_IGNORE_ULTRABALL_COUNT": false,
        "FARM_IGNORE_MASTERBALL_COUNT": true,
        "FARM_OVERRIDE_STEP_SIZE": -1
      },
      "CONSOLE_OUTPUT": {
        "LIST_POKEMON_BEFORE_CLEANUP": true,
        "LIST_INVENTORY_BEFORE_CLEANUP": true
      }
    },
    {
      "auth_service": "ptc",
      "username": "someusername",
      "password": "password",
      "location": "University of Southern California, Los Angeles, CA",
      "BEHAVIOR": {
        "USE_GOOGLE": false
      }
    }
  ],
  "defaults": {
      "_info": "copy values to this section to use them for all accounts",
      "_info2": "account settings will always override defaults"
  }
}
