<md-content class="md-padding" style="position:relative;height:100%;width:100%;">
    <!--<ui-gmap-google-map center='map.center' zoom='map.zoom' draggable='map.draggable' options='map.options'>
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
        <ui-gmap-polyline path="polyline.path" stroke="polyline.stroke"></ui-gmap-polyline>
    </ui-gmap-google-map>-->
    <leaflet markers="markers" paths="paths" center="map.center"></leaflet>
    <div class="row m-t-16 poke-menu">
        <div class="col-sm-3 text-left">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#pokemonModal">
                Pokemon
            </button>
        </div>
        <div class="col-sm-6 text-center">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Coords ..." ng-model="snipe_coords">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button" ng-disabled="snipe_disabled" ng-click="snipe(snipe_coords)">
                    Snipe!
                </button>
              </span>
            </div>
            <!-- <label>Enable rare autosnipe? <input type="checkbox" ng-model="snipe_auto"></label> -->
        </div>
        <div class="col-sm-3 text-right">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#inventoryModal">
                Inventory
            </button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#playerModal">
                Player
            </button>
        </div>
    </div>
    <div class="row m-t-16">
        <div class="col-sm-3 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Level XP:<br>
                        {{ (playerStats.experience - playerStats.prev_level_xp) | number }}/{{ (playerStats.next_level_xp - playerStats.prev_level_xp) | number }}
                    </h3>
                </div>
                <div class="panel-body">
                    <span class="chart" easypiechart percent="playerStats.xpPercent" options="expLvlOptions">
                        <span class="percent" ng-bind="playerStats.xpPercent"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Unique Pokemon:<br>{{ playerStats.unique_pokedex_entries }}/151</h3>
                </div>
                <div class="panel-body">
                    <span class="chart" easypiechart percent="playerStats.uniquePokedexPercent" options="uniquePokedexOptions">
                        <span class="percent" ng-bind="playerStats.uniquePokedexPercent"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pokemon Bag:<br>{{ pokemon.length }}/{{ player.max_pokemon_storage }}</h3>
                </div>
                <div class="panel-body">
                    <span class="chart" easypiechart percent="playerStats.pokemonInvPercent" options="pokemonInvOptions">
                        <span class="percent" ng-bind="playerStats.pokemonInvPercent"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Item Bag:<br>{{ inventory.item_count }}/{{ player.max_item_storage }}</h3>
                </div>
                <div class="panel-body">
                    <span class="chart" easypiechart percent="playerStats.itemsInvPercent" options="itemsInvOptions">
                        <span class="percent" ng-bind="playerStats.itemsInvPercent"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pokemonModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document" style="max-width: 98%; width: 98%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Pokemon</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table datatable="ng" dt-options="pokemonDataTableOptions" class="row-border hover table-striped">
                                <thead>
                                    <th>Recent</th>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Lvl</th>
                                    <th>Score</th>
                                    <th>IV</th>
                                    <th>CP</th>
                                    <th>Max CP</th>
                                    <th>Candies</th>
                                    <th>Candy Needed</th>
                                    <th>Dust Needed</th>
                                    <th>Power Up</th>
                                    <th>Stamina</th>
                                    <th>Att IV</th>
                                    <th>Sta IV</th>
                                    <th>Def IV</th>
                                    <th>Move 1</th>
                                    <th>Move 2</th>
                                    <th>Evolve</th>
                                    <th>Transfer</th>
                                  </thead>
                                <tbody>
                                <tr ng-repeat="pkm in pokemon" id="pkm_{{ pkm.id }}">
                                    <td data-order="{{ pkm.creation_time_ms }}">
                                        <md-tooltip md-direction="right">Caught:{{ pkm.creation_time_ms | date : 'medium' }}</md-tooltip>
                                        <img style="max-height: 50px;" ng-src="assets/images/pokemon/{{('000' + pkm.pokemon_id).substr(-3)}}.png">
                                    </td>
                                    <td data-order="{{pkm.pokemon_id}}">{{pkm.pokemon_id}}</td>
                                    <td>{{pkm.name}}</td>
                                    <td data-order="{{pkm.level}}">{{pkm.level | number}}</td>
                                    <td data-order="{{pkm.score}}">{{pkm.score | number}}</td>
                                    <td data-order="{{pkm.iv|number}}">IV: {{  pkm.iv | number:0 }}%</td>
                                    <td data-order="{{pkm.cp}}">CP: {{ pkm.cp | number}}</td>
                                    <td data-order="{{pkm.max_evolve_cp}}">CP: {{pkm.max_evolve_cp | number}}</td>
                                    <td data-order="{{inventory.pokemon_candy[pkm.family_id]}}">Candy: {{inventory.pokemon_candy[pkm.family_id] | number}}</td>
                                    <td data-order="{{pkm.candy_needed_to_max_evolve}}">Candy: {{pkm.candy_needed_to_max_evolve | number}}</td>
                                    <td data-order="{{pkm.dust_needed_to_max_evolve}}">Dust: {{pkm.dust_needed_to_max_evolve | number}}</td>
                                    <td data-order="{{pkm.power_up_result}}">CP: {{pkm.power_up_result | number}}</td>
                                    <td data-order="{{pkm.stamina}}">Stamina: {{pkm.stamina | number}}</td>
                                    <td data-order="{{pkm.individual_attack}}">Att IV: {{pkm.individual_attack}}</td>
                                    <td data-order="{{pkm.individual_stamina}}">Sta IV: {{pkm.individual_stamina}}</td>
                                    <td data-order="{{pkm.individual_defense}}">Def IV: {{pkm.individual_defense}}</td>
                                    <td>{{attacks[pkm.move_1]}}</td>
                                    <td>{{attacks[pkm.move_2]}}</td>
                                    <td>
                                        <button class="btn btn-sm" type="button"
                                                ng-hide="pkm.candy_needed_to_evolve == 0 || pkm.candy_needed_to_evolve > inventory.pokemon_candy[pkm.family_id]"
                                                ng-disabled="evolve_disabled" ng-click="evolve(pkm.id)">
                                            Evolve
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm" type="button" ng-disabled="transfer_disabled" ng-click="transfer(pkm.id)">
                                            Transfer
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="inventoryModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Inventory</h4>
                </div>
                <div class="modal-body">
                    <div ng-cloak>
                        <md-content>
                            <md-tabs md-dynamic-height>
                                <md-tab label="Items">
                                    <md-content class="md-padding">

                                        <div class="row m-b-10">

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/1.png">
                                                    <h4>Poke Ball</h4>
                                                    <h4>{{inventory.poke_balls}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/2.png">
                                                    <h4>Great Ball</h4>
                                                    <h4>{{inventory.great_balls}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/3.png">
                                                    <h4>Ultra Ball</h4>
                                                    <h4>{{inventory.ultra_balls}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/4.png">
                                                    <h4>Master Ball</h4>
                                                    <h4>{{inventory.master_balls}}</h4>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row m-b-10">

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/101.png">
                                                    <h4>Potion</h4>
                                                    <h4>{{inventory.potion}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/102.png">
                                                    <h4>Super Potion</h4>
                                                    <h4>{{inventory.super_potion}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/103.png">
                                                    <h4>Hyper Potion</h4>
                                                    <h4>{{inventory.hyper_potion}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/104.png">
                                                    <h4>Max Potion</h4>
                                                    <h4>{{inventory.max_potion}}</h4>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row m-b-10">

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/201.png">
                                                    <h4>Revive</h4>
                                                    <h4>{{inventory.revive}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/202.png">
                                                    <h4>Max Revive</h4>
                                                    <h4>{{inventory.max_revive}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/301.png">
                                                    <h4>Lucky Egg</h4>
                                                    <h4>{{inventory.lucky_eggs}}</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="p-l-10 p-r-10 text-center">
                                                    <img class="img-responsive" style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/701.png">
                                                    <h4>Razz Berries</h4>
                                                    <h4>{{inventory.razz_berries}}</h4>
                                                </div>
                                            </div>

                                    </md-content>
                                </md-tab><!-- /Items -->
                                <md-tab label="Eggs">
                                    <md-content class="md-padding">

                                        <div class="row m-b-10">

                                            <ng-repeat ng-repeat="incubator in inventory.incubators_busy">
                                                <div class="col-md-4">
                                                    <div class="p-l-10 p-r-10 text-center">
                                                        <img style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/{{incubator.item_id}}_egg.png"></td>
                                                        <h4>
                                                            {{ (playerStats.km_walked - incubator.start_km_walked)|number:2 }} / {{ (incubator.target_km_walked - incubator.start_km_walked)|number:0 }} km
                                                        </h4>
                                                    </div>
                                                </div>
                                            </ng-repeat>

                                            <ng-repeat ng-repeat="egg in inventory.eggs_available">
                                                <div class="col-md-4">
                                                    <div class="p-l-10 p-r-10 text-center">
                                                        <img style="max-height: 100px;margin: 0 auto;" ng-src="assets/images/items/egg.png"></td>
                                                        <h4>
                                                            {{ egg.egg_km_walked_target }}km
                                                        </h4>
                                                    </div>
                                                </div>
                                            </ng-repeat>

                                        </div>

                                    </md-content>
                                </md-tab><!-- /Eggs -->
                            </md-tabs>
                        </md-content>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="playerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Player</h4>
                </div>
                <div class="modal-body">

                    <div class="col-md-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-left">
                                    Run
                                </h3>
                            </div>
                            <div class="panel-body text-left">
                                Runtime: {{ (playerStats.run_duration_s/3600) | number:1 }}h<br/>
                                XP this run: {{ playerStats.run_exp_earned | number:1 }}<br/>
                                XP per hour: {{ playerStats.run_hourly_exp | number:0 }}<br>
                                Pkm this run: {{ playerStats.run_pokemon_caught }}<br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-left">
                                    Info
                                </h3>
                            </div>
                            <div class="panel-body text-left">
                                Name: {{ player.username }}<br/>
                                Level: {{ playerStats.level }}<br/>
                                Team: {{ player.team }}<br/>
                                <ng-repeat ng-repeat="currency in player.currencies">
                                    {{ currency.name }}: {{ currency.amount | number }}<br/>
                                </ng-repeat>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-left">
                                    Stats
                                </h3>
                            </div>
                            <div class="panel-body text-left">
                                Total XP: {{ playerStats.experience | number }}<br/>
                                km walked: {{ playerStats.km_walked | number }}<br/>
                                Poke Stops visited: {{ playerStats.player_stats.poke_stop_visits | number }}<br/>
                                Pokemons Encountered: {{ playerStats.player_stats.pokemons_encountered | number }}<br/>
                                Pokeballs Thrown: {{ playerStats.player_stats.pokeballs_thrown | number }}<br/>
                                Eggs Hatched: {{ playerStats.player_stats.eggs_hatched | number }}<br/>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</md-content>